* {
  font-family: monospace
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.column {
  padding: 20px;
  margin: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 100px #808080a8, 0px 0px 30px #00000045
}

.leaderboard-column {
  min-width: 300px;
  max-width: 350px;
  padding: 20px 0px
}

.column-header {
  font-size: 20px;
  margin: 15px 0px
}

.leaderboard-group {
  text-align: center;
  vertical-align: top
}

.leaderboard-image-container {
  position: relative;
  margin: 10px 0px;
  max-width: 185px
}

.leaderboard-stat {
  position: absolute;
  top: 0;
  right: 10%;
  border: 3px solid blue;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  color: blue;
  font-weight: bolder
}

.leaderboard-group-header {
  margin-bottom: 15px
}

.leaderboard-image {
  display: inline-block;
  border: 3px solid blue;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5)
}

.leaderboard-toggle {
  cursor: pointer;
  background-color: white;
  color: blue;
  border: 3px solid blue;
  font-weight: bold;
  padding: 0px 10px 0px 8px;
  border-radius: 10px;
  font-size: 14px;
  display: inline-block;
  bottom: 2px;
  margin-left: 10px;
  position: relative
  /* box-shadow: 0px 0px 5px rgba(0,0,0,.4), 0px 0px 2px rgba(0,0,0,.8) */
}

.vote-column {
  min-width: 650px
}

.voting-container {
  width: 600px;
  position: relative
}

.voting-name-container {
  position: absolute;
  bottom: 40%;
  left: 30%;
  background-color: white;
  padding: 2px 8px;
  border-radius: 10px;
  border: 3px solid blue;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  pointer-events: none
}

.voting-image-container {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  overflow: hidden
}

.image-one {
  border: 3px solid blue;
  border-right: 0px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px
}

.image-two {
  border: 3px solid blue;
  border-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 3px
}

@keyframes shrink {
  100% { width: 20% }
}

@keyframes expand {
  100% { width: 60% }
}

@keyframes middle {
  100% { width: 40% }
}

.shrink {
  animation: shrink 1s forwards
}

.expand {
  animation: expand 1s forwards
}

.middle {
  animation: middle 1s forwards
}

.show {
  max-height: 2000px;
  transition: max-height 0.25s ease-in;
}

.hide {
  max-height: 0px;
  transition: max-height 0.15s ease-out;
  overflow: hidden
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
